.adminview {
    background-color:rgb(25, 34, 51);
    padding: 20px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  input, textarea{
    background-color: white;
    color:black;
  }

  .admincont {
    display: grid;
    grid-template-columns: 50%;
    grid-template-areas: "addw delete";
  }

  .addWord {
    grid-area: addw;
    text-align: center;
    width:100%;
    padding: 10px;
  }

  .deleteWord {
    grid-area: delete;
    overflow-y: scroll;
    overflow-x:hidden;
    width: 100%;
    padding: 10px;
  }

  table, th, td {
      border: 1px solid black;
      margin: 5px;
      width: 80%;
  }

  .addButton {
    background-color: rgb(185, 218, 233);
    color: black;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 30px;
}

  .deleteButton {
      border: 1px solid white;
      background-color: firebrick;
      color: white;
      font-size: 20px;
      border-radius: 5px;
  }

  .corr {
    color: green;
    border-radius: 10px;
    margin: 5px;
  }

  .fals {
    color: red;
    border-radius: 5px;
    margin: 5px;
  }